[submodule "3rd-party/magit"]
	path = 3rd-party/magit
	url = git://gitorious.org/magit/mainline.git
[submodule "3rd-party/rinari"]
	path = 3rd-party/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "3rd-party/cucumber"]
	path = 3rd-party/cucumber
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "3rd-party/sinasi"]
	path = 3rd-party/sinasi
	url = git://github.com/emk/sinasi.git
[submodule "3rd-party/coffee-mode"]
	path = 3rd-party/coffee-mode
	url = http://github.com/defunkt/coffee-mode.git
